.App {
  /* height: 50vh; */
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  background-color: #FFF;
 }

 .menu-item {
  color:#FFF;
  position: relative;
    vertical-align: middle;
    line-height: 1;
    padding-top: 2.85em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 2em;
    font-weight: 400;
    font-size: 16px;
}

.ui.menu .item>img:not(.ui) {
  width: 5em;
}

.ui.menu {
  display: flex;
  margin: 1rem 0;
  background: #0033A0;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border-radius: .28571429rem;
  min-height: 2.85714286em;
}


 h1 {
  color : #FFF;
  font-size: 32px;
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
  padding-left: 1%;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
}     

.main-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 95px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #DEE5E7;
  border-radius: 5px;
  color: #2F3847;
  
  font-family: "SourceSansPro", Helvetica, Arial, sans-serif;
}

colorPalet {
  color: #0033A0;
  color: #002880;
  color: #8799D0;
  color: #95D600;
  color: #FF9E16;
  color: #45BCE5;
  color: #2F3847;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #DEE5E7;
  background-color: #DEE5E7;
}

.errors{
  color:red;
}